PhotoBlogServer/*.pyc
PhotoBlogServer/*~
PhotoBlogServer/__pycache__
PhotoBlogServer/venv
PhotoBlogServer/db.sqlite3
PhotoBlogServer/static
PhotoBlogServer/.DS_Store
PhotoViewer/*.iml
PhotoViewer/.gradle
PhotoViewer/local.properties
PhotoViewer/.idea/caches
PhotoViewer/.idea/libraries
PhotoViewer/.idea/modules.xml
PhotoViewer/.idea/workspace.xml
PhotoViewer/.idea/navEditor.xml
PhotoViewer/.idea/assetWizardSettings.xml
PhotoViewer/.DS_Store
PhotoViewer/build
PhotoViewer/captures
PhotoViewer/.externalNativeBuild
PhotoViewer/.cxx
PhotoViewer/local.properties
